@import "tailwindcss";

@theme {
  --color-primary: #4CAF50;
  --color-dark: #000000;
  --color-dark-bg: #1a1a1a;
}

/* Hide scrollbar completely */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}